@tailwind base; /* * Reset CSS moderne(typographie, body, formulaires).*/
@tailwind components;/* * Composants personnalisables (boutons,cartes...).*/
@tailwind utilities;/* *toutes les classes Tailwind (bg-red-500, flex, p-4, etc.)*/
